.Gifs-layout {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    align-items: center;
    grid-template-rows: masonry;
}

.Gif {
    max-height: 500px;
}

.Gif img {
    height: 90%;
    width: 90%;
    object-fit: contain;
    max-width: fit-content;
}